.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.new-user-input {
  padding: 10px;
}
.diplay-games-button {
  width: 300px !important;
  margin: 10px !important;
}



.user-list-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  padding: 30px;
}

.user-list {
  text-align: left;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-color: #616161;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
}
.user:hover,
.user:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.user-profile-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-profile-photo {
  height: 120px;
}
.user-details {

}
.user-title {
  font-size: 1.8em;
}



/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-6:disabled {
  color: #F0F0F1;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
